<app-navbar></app-navbar>

<section class="product" >
    <h2 class="product-category" >
        {{producto.name}}
    </h2>
    <div class="product-container" id="product-container" >

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">
                        
                    </span>
                    <img [src]="foto" class="product-thumb" alt="Producto"> 
                   
                    
                </div>
                <div class="product-info">
                    
                    <p class="product-short-des"><span>Marca: </span>{{producto.brand}}</p>
                    <p class="product-short-des"><span>Descripción: </span> {{producto.description}}</p>
                    <p class="product-short-des"><span>Prendas disponibles: </span> {{producto.stock}} </p>
                    <span class="product-short-des"><span>Precio: </span>: Q{{producto.price}}</span>
                    <button class="card-btn add-btn" id="button-add" (click)="agregarCarrito(producto._id)">
                        Añadir al carrito
                    </button>
    
                </div>
            </div>

        
    </div>
</section>
