<div class="nav">
    <a href="index.html">Ventas <span>Plus</span></a>
    <div class="nav-items">
        <div class="search" >
            <input id="search" type="text" class="search-box" placeholder="Buscador de productos">
            <button class="search-btn" id="search-btn">Buscar</button>
        </div>
        <div>
            <ul class="options">
                <li class="user">
                   <a href="/shop/login"> <i class="fas fa-user"></i></a>
                </li>

                <li class="submenu">
                   <a (click)="validar()" > <i class="fas fa-shopping-cart"></i></a>
                    <p class="cantidad" *ngIf="!carrito">{{cantidadProductos}}</p>                
                </li>
            </ul>
        </div>
    </div>
</div>
<ul class="links-container">
    <li class="link-item"> <a href="/shop" class="link">Inicio</a></li>
    <li class="link-item"> <a href="/shop/hombre" class="link">Hombre</a></li>
    <li class="link-item"> <a href="/shop/mujer" class="link">Mujer</a></li>
    <li class="link-item"> <a href="/shop/accesorios" class="link">Accesorios</a></li>
</ul>